.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  .sign-up-form-container {
    border: 2px solid #ff000000;
    border-radius: 10px;
    padding: 0px 10px;
  }
  .sign-up-button-container {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    margin: 10px 0;
  }
}