.about-container {
  align-items: center;
  background-color: #ffffff0f;
  border: 2px solid #ffffff0f;
  border-radius: 10px;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  padding: 10px;
}